body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading {
  width: 100%;
  font-size: 35px;
  top: 0;
}

.note, .status {
  font-size: 20px; 
}